& {
  $shevy-process-section: (
    base-font-size: 1.25rem
  );

  @include headings($shevy-process-section);
  @include content($shevy-process-section);

  &.process {
    background-color: $off-white;
    color: $grey;
    padding: 20px;

    .heading {
      color: $darker-blue;
      font-weight: 900;
      text-transform: uppercase;
    }

    .sub-heading {
      color: $dark;
      font-weight: bold;
    }

    .svg-icon {
      @media (min-width: 768px) {
        margin-right: 50px;
      }

      padding: 10px;

      &.logo {
        max-width: 200px;

        @media (min-width: 1200px) {
          max-width: 300px;
        }

        path {
          stroke-width: 1.25rem;
        }
      }
    }

    &.build {
      background-color: $white;
    }
  }
}
