& {
  &.process {
    background-color: $off-white;
    color: $grey;
    padding: 5vw;

    .heading {
      color: $darker-blue;
      font-weight: 900;
      text-transform: uppercase;
    }

    .sub-heading {
      color: $dark;
      font-weight: bold;
    }

    .svg-icon {
      padding: 2rem;

      &.logo {
        display: flex;
        flex: 1 0 auto;
        max-width: 200px;

        @media (min-width: 1200px) {
          max-width: 300px;
        }

        path {
          stroke-width: 1.25rem;
        }
      }
    }

    &.about,
    &.build {
      background-color: $white;
    }
  }
}
