.process {
  background-color: $offWhite;
  color: $grey;
  padding: 20px;

  .heading {
    color: $blue;
    padding: 10px 0;
    text-transform: uppercase;
    font: {
      size: 5rem;
      weight: bold;
    }
  }

  .sub-heading {
    color: $dark;
    padding: 5px 0;
    font: {
      size: 2.5rem;
      weight: bold;
    }
  }

  .info {
    font: {
      size: 2rem;
      weight: normal;
    }

    line-height: 2.5rem;
    padding: 20px 0;
  }

  .svg-icon {
    @media (min-width: 768px) {
      margin-right: 50px;
    }

    padding: 10px;
  }

  &.build {
    background-color: $white;
  }
}
