<page class="process">
  <grid>
    <box class="design" xs="12" md="4">
      {{svg-jar "design" class="svg-icon" id="design-svg"}}
      <h2 class="heading">Design</h2>
      <h5 class="sub-heading">Measure twice, cut once</h5>
      <p class="info">
        We put a great deal of time into developing a
        sound architecture and ensuring we have a solid understanding
        of your wants and needs. We'll work with you to develop a gameplan
        and we won't start working until you sign off on it.
      </p>
    </box>
    <box class="build" xs="12" md="4">
      {{svg-jar "build" class="svg-icon" id="build-svg"}}
      <h2 class="heading">Build</h2>
      <h5 class="sub-heading">Convention over configuration</h5>
      <p class="info">
        We use the latest versions of Ember.js and Ember-CLI in all of our products,
        and we strive to stay up to date with new releases. We leverage the amazing
        Ember community, and the huge breadth of addons, to help us iterate faster,
        and focus on making quality apps, rather than reinventing the wheel.
      </p>
    </box>
    <box class="ship" xs="12" md="4">
      {{svg-jar "ship" class="svg-icon" id="ship-svg"}}
      <h2 class="heading">Ship</h2>
      <h5 class="sub-heading">Real artists ship</h5>
      <p class="info">
        We'll keep you in the loop with regular demos, frequent calls,
        chats, dinners, drinks, whatever floats your boat. We won't just
        develop huge chunks of the app and hope you like it. Your input is
        crucial to making sure you are 100% happy with the product.
      </p>
    </box>
  </grid>
</page>
