<div class="section">
  <div class="flex flex-wrap items-center">
    <div class="w-full lg:w-1/2 p-12 text-center">
      {{svg-jar "design" class="max-w-sm"}}
    </div>

    <div class="w-full lg:w-1/2">
      <h3 class="heading">Design</h3>
      <h4 class="sub-heading">Measure twice, cut once</h4>

      <p>
        We put a great deal of time into developing a sound architecture and ensuring we
        have a solid understanding of your wants and needs. We'll work with you to
        develop a game plan and we won't start working until you sign off on it.
      </p>
    </div>
  </div>

  <div class="flex flex-wrap items-center flex-col-reverse lg:flex-row">
    <div class="w-full lg:w-1/2">
      <h3 class="heading">Build</h3>
      <h4 class="sub-heading">Convention over configuration</h4>

      <p>
        We use the latest versions of Ember.js and Ember-CLI in all of our products, and
        we strive to stay up to date with new releases. We leverage the amazing Ember
        community, and the huge breadth of addons, to help us iterate faster, and
        focus on making quality apps, rather than reinventing the wheel.
      </p>
    </div>

    <div class="w-full lg:w-1/2 p-12 text-center">
      {{svg-jar "build" class="max-w-sm"}}
    </div>
  </div>

  <div class="flex flex-wrap items-center">
    <div class="w-full lg:w-1/2 p-12 text-center">
      {{svg-jar "ship" class="max-w-sm"}}
    </div>

    <div class="w-full lg:w-1/2">
      <h3 class="heading">Ship</h3>
      <h4 class="sub-heading">Real artists ship</h4>

      <p>
        We'll keep you in the loop with regular demos, frequent calls, chats, dinners, drinks,
        whatever floats your boat. We won't just develop huge chunks of the app and
        hope you like it. Your input is crucial to making sure you are 100% happy
        with the product.
      </p>
    </div>
  </div>
</div>
