<page class="process">
  <grid>
    <box class="design" xs="12" md="4">
      <h2 class="heading">Design</h2>
      <img class="svg-icon" src="img/design.svg"/>
    </box>
    <box class="build" xs="12" md="4">
      <h2 class="heading">Build</h2>
      <img class="svg-icon" src="img/build.svg"/>
    </box>
    <box class="ship" xs="12" md="4">
      <h2 class="heading">Ship</h2>
      <img class="svg-icon" src="img/ship.svg"/>
    </box>
  </grid>
</page>