& {
  max-width: 100vw;
  overflow: hidden;

  .addon-icon {
    > g {
      stroke: $dark;
    }

    > path {
      fill: $dark;
    }
  }

  .project {
    transition: transform 0.2s ease-in;

    &:hover {
      transform: translateY(-10px);
    }
  }
}
