.custom-tabs {
  transition-duration: 0.25s;
  transition-property: background-color, box-shadow, color, fill;

  nav {
    background: $transparent;
    text-align: left;

    ul {
      box-shadow: inset 0 -2px $grey-transparent;
      display: inline-flex;
      justify-content: start;
      max-width: none;
      padding: 0;

      li {
        background: $transparent;
        box-shadow: inset 0 -2px $grey-transparent;
        cursor: pointer;
        flex: 0;
        font-size: 36px;
        font-weight: bold;
        padding-right: 20px;
        text-align: left;

        a {
          box-shadow: inset 0 -2px $grey-transparent;
          color: $grey-light;
          text-transform: none;

          &:hover {
            box-shadow: inset 0 -2px $navy;
            color: $navy;
          }
        }

        &.tab-current {
          background: $transparent;

          a {
            box-shadow: inset 0 -2px $navy;
            color: $navy;
          }
        }
      }
    }
  }

  .content-wrap {
    section {
      max-width: none;
      padding: 0;
      text-align: left;

      p {
        color: $grey-light;
        font-size: 18px;
        font-weight: lighter;
        line-height: 2;
        margin: 0;
        min-height: 250px;
        padding: 0.75em 0;
      }
    }
  }
}
