.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible {
  padding-right: 2.5rem;
  .close {
    position: relative;
    top: -.125rem;
    right: -1.25rem;
    color: inherit;
  }
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
  hr {
    border-top-color: #c1e2b3;
  }
  .alert-link {
    color: #2b542c;
  }
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
  hr {
    border-top-color: #a6d5ec;
  }
  .alert-link {
    color: #245269;
  }
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
  hr {
    border-top-color: #f7ecb5;
  }
  .alert-link {
    color: #66512c;
  }
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  hr {
    border-top-color: #e4b9b9;
  }
  .alert-link {
    color: #843534;
  }
}
