@import 'tailwind';
@import 'shevy/shevy';
@import 'variables';
//Pages
@import 'contact';
@import 'pod-styles';
@import 'tabs';

//3rd party

$ecf: (
  'background': transparent,
  'color': $grey-light,
  'input-background': transparent,
  'input-border': $grey-transparent,
  'input-color': $grey-light,
  'submit-color': $white
);

@import 'alerts';
@import 'ember-contact-form';

// Shevy

$shevy: (
  base-font-scale: (3.5, 2.5, 2, 1.5, 1.25, 1),
  base-font-size: 18px,
  base-line-height: 2,
  proximity: true
  // proximity-factor: 0.5
);

@include headings;
@include body;
@include content;

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  color: $red;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: background-color, color, fill;

  &:active,
  &:visited {
    color: $red;
  }

  &:hover {
    color: $navy;
  }
}

body {
  background-color: $white;
  color: $grey-light;
  font-family: 'Pier Sans', sans-serif;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .heading;
}

.cd-form {
  input[type="submit"] {
    &:disabled {
      background-color: $grey;
      // pointer-events: none;

      /* Button disabled - CSS color class */
      color: darken($white, 20%);
      cursor: not-allowed;
    }
  }
}

@media only screen and (min-width: 600px) {
  .cd-form .contact-item {
    margin: 20px 0;
  }
}

.hero {
  padding: 0 2rem;
}

.learn-more {
  color: $navy;
  font-weight: bold;

  svg {
    fill: $navy;
    margin-bottom: -0.2rem;
    transition-duration: 0.25s;
    transition-property: margin-left;
  }

  &:active,
  &:visited {
    color: $navy;
  }

  &:hover {
    color: $red;
    cursor: pointer;

    svg {
      fill: $red;
      margin-left: 0.5rem;
    }
  }
}

.section {
  padding: 5rem 2rem;
}

.section-content {
  @extend .max-w-4xl, .w-full;
}
