@import 'tailwind';

@import 'shevy/shevy';
@import 'variables';
//Pages
@import 'contact';
@import 'ember-consulting';
@import 'open-source';
@import 'pod-styles';

//3rd party

$ember-3d-folding-panel: (
  'dark-color': $dark-green,
  'itemSquareColors': $off-white $off-white $off-white $off-white $off-white $off-white $off-white,
  'light-color': $dark
);

$ecf: (
  'background': transparent,
  'color': $grey,
  'input-background': transparent,
  'input-border': darken($grey, 10%),
  'input-color': $grey,
  'submit-color': $off-white
);

@import 'alerts';
@import 'ember-3d-folding-panel';
@import 'ember-contact-form';
@import 'reset';

// Shevy

$shevy: (
  base-font-size: 1rem,
  proximity: true,
  proximity-factor: 0.5
);

@include headings;
@include body;
@include content;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $dark;
  font-family: 'Pier Sans', sans-serif;
  font-weight: light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey;
}

.cd-form {
  input[type="submit"] {
    &:disabled {
      background-color: $dark-grey;
      // pointer-events: none;

      /* Button disabled - CSS color class */
      color: darken($off-white, 20%);
      cursor: not-allowed;
    }
  }
}

.folding-panel.is-open {
  z-index: 10;
}

.section {
  padding: 5vw;
}

@media only screen and (min-width: 600px) {
  .cd-form .contact-item {
    margin: 20px 0;
  }
}
