@import 'variables';
@import 'mixins';
//Pages
@import 'ember-consulting';
@import 'open-source';
@import 'team';
@import 'pod-styles';

//3rd party
//Ember-3d-nav variables
$ember-3d-nav: (
  'is-fixed-nav-bg': $primary,
  'nav-bg': $navBar,
  'nav-items': 5,
  'nav-item-hover': darken($navBar, 5%),
  'nav-item-selected': darken($navBar, 5%),
  'nav-text-color': $cream,
  'nav-trigger-color': $cream
);

$ember-3d-folding-panel: (
  'color-1': darken(#3A9688, 10%),
  'color-2': darken(#616C7B, 10%),
  'color-3': #292929
);

@import 'alerts';
@import 'device-mocks';
@import 'ember-3d-folding-panel';
@import 'ember-3d-nav';
@import 'ember-contact-form';
@import 'reset';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.6rem;
  }
  background-color: $background;
  color: $whiteish;
  font-family: 'Pier Sans', sans-serif;
}

a {
  color: $whiteish;
  text-decoration: none;
  &:active {
    color: $whiteish;
  }
  &:hover, & > i:hover {
    color: $bloodOrange;
    cursor: pointer;
  }
  &:visited {
    color: $whiteish;
  }
}

.header {
  &.fixed {
    transition: background-color 400ms ease;
  }

  &.fixed-and-scrolled {
    background-color: $secondary;
  }
}

.ember-3d-nav {
  centered {
    &:first-of-type a::before {
      background-image: url(../img/navbar/boat.svg);
    }
    &:nth-of-type(2) a::before {
      background-image: url(../img/navbar/ember-consulting.svg);
    }
    &:nth-of-type(3) a::before {
      background-image: url(../img/navbar/code.svg);
    }
    &:nth-of-type(4) a::before {
      background-image: url(../img/navbar/anchor.svg);
    }
    &:nth-of-type(5) a::before {
      background-image: url(../img/navbar/blog.svg);
    }
  }
}

.logo {
  float: left;
  .logoText {
    color: $cream;
    font-size: 30px;
    float: right;
    height: 35px;
    margin-top: 14px;
  }
}

.nav-trigger {
  margin-top: 5px;
}

/* these are the colors of the markers - line + arrow */

.color-1 {
  color: $bloodOrange;
  background-color: $bloodOrange;
}

h1, h2 {
  color: $bloodOrange;
}

h3, h4, h5, h6 {
  color: $secondary;
}

.hero-header, .hero-subheader {
  color: $cream;
  font-family: 'Pier Sans';
  margin: 20px 0px 0px 0px;
}

.ssIcon {
  path {
    fill: $whiteish;
  }
  &:hover {
    path {
      fill: $bloodOrange;
    }
  }
}

.cd-form {
  input[type="submit"] {
    &:disabled {
      cursor: not-allowed;
      //pointer-events: none;

      /*Button disabled - CSS color class*/
      color: $grey;
      background-color: $darkGrey;
    }
  }
}

.folding-panel.is-open {
  z-index: 10;
}
