@import 'variables';
@import 'mixins';
//Pages
@import 'blog';
@import 'ember-consulting';
@import 'open-source';
@import 'pod-styles';

//3rd party
//Ember-3d-nav variables
$ember-3d-nav: (
  'is-fixed-nav-bg': $white,
  'nav-bg': $white,
  'nav-items': 5,
  'nav-item-hover': darken($white, 5%),
  'nav-item-selected': darken($white, 5%),
  'nav-marker-color': #6ca3bb,
  'nav-text-color': $dark,
  'nav-trigger-color': $dark
);

$ember-3d-folding-panel: (
  'dark-color': $dark-green,
  'itemSquareColors': $offWhite $offWhite $offWhite $offWhite $offWhite $offWhite,
  'light-color': $dark
);

$ecf: (
  'background': transparent,
  'color': $grey,
  'input-background': transparent,
  'input-border': darken($grey, 10%),
  'input-color': $grey,
  'submit-color': $offWhite
);

@import 'alerts';
@import 'device-mocks';
@import 'ember-3d-folding-panel';
@import 'ember-3d-nav';
@import 'ember-contact-form';
@import 'reset';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.6rem;
  }

  background-color: $white;
  color: $white;
  font-family: 'Pier Sans', sans-serif;
}

a {
  color: $white;
  text-decoration: none;

  &:active {
    color: $white;
  }

  &:hover,
  & > i:hover {
    color: $pink;
    cursor: pointer;
  }

  &:visited {
    color: $white;
  }
}

.header {
  &.fixed {
    transition: background-color 400ms ease;
  }

  &.fixed-and-scrolled {
    background-color: $secondary;
  }
}

.ember-3d-nav {
  a:before {
    background-size: 40px;
    height: 60px;
    width: 58px;

    @media only screen and (min-width: 768px) {
      top: 4.4rem;
    }
  }

  centered {
    a:before,
    &.is-selected a:before {
      background-position: center;
    }

    &:first-of-type a:before {
      background-image: url(../svgs/navbar/home.svg);
    }

    &:nth-of-type(2) a:before {
      background-image: url(../svgs/navbar/ember-consulting.svg);
    }

    &:nth-of-type(3) a:before {
      background-image: url(../svgs/navbar/open-source.svg);
    }

    &:nth-of-type(4) a:before {
      background-image: url(../svgs/navbar/contact.svg);
    }

    &:nth-of-type(5) a:before {
      background-image: url(../svgs/navbar/blog.svg);
    }
  }
}

.logo {
  float: left;

  .cls-5,
  .cls-8 {
    fill: $dark;
    stroke: $dark;
  }

  .logoText {
    color: $dark;
    float: right;
    font-size: 30px;
    height: 35px;
    margin-top: 14px;
    text-transform: uppercase;
  }
}

.nav-trigger {
  margin-top: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey;
}

.hero-header,
.hero-subheader {
  color: $white;
  font-family: 'Pier Sans', sans-serif;
  margin: 20px 0 0;
}

.ssIcon {
  path {
    fill: $white;
  }

  &:hover {
    path {
      fill: $pink;
    }
  }
}

.cd-form {
  input[type="submit"] {
    &:disabled {
      background-color: $darkGrey;
      // pointer-events: none;

      /* Button disabled - CSS color class */
      color: darken($offWhite, 20%);
      cursor: not-allowed;
    }
  }
}

.folding-panel.is-open {
  z-index: 10;
}

@media only screen and (min-width: 600px) {
  .cd-form .contact-item {
    margin: 20px 0;
  }
}
