@import 'variables';

.ember-consulting {
  .fold-content {
    p {
      color: $color3;
    }
  }

  .clients {
    background-color: $off-white;
  }

  .community {
    padding: 1rem;

    a {
      color: $secondary;
      fill: $secondary;

      &:active,
      &:visited {
        color: $secondary;
      }

      &:hover {
        color: $pink;
        cursor: pointer;
        fill: $pink;
      }
    }

    svg {
      margin-bottom: -0.2rem;
    }

    .ember-cares-images,
    .ember-image {
      padding: 1rem;
      height: auto;
      max-width: 300px;
      width: 100%;
    }

    .ember-cares-images {
      img {
        height: auto;
        width: 100%;
      }
    }

    .heading {
      color: $dark-green;
    }

    .image-container {
      display: inline-grid;
    }

    .info {
      padding: 1rem;
    }
  }

  .quote {
    text-align: center;

    .quoteContent {
      color: $color4;
      padding: 10px 5vw;
      // Mobile
      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 35px;
      }
      // Dektop
      @media (min-width: 992px) {
        font-size: 40px;
        line-height: 50px;
      }
    }

    .quoteInfo {
      color: $dark;
      font-size: 20px;
      line-height: 22px;
    }
  }
}
