@import 'variables';

.hero {
  background: url(../img/ocean2.jpg) no-repeat bottom center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    color: $cream;
    text-align: center;
    .logo {
      padding-top: 100px;
      img {
        height: auto;
        width: 100%;
      }
    }
    h1 {
      font-family: ThirstySoft, cursive;
      font-size: 6vw;
      margin: 0;
    }
  }
}
