@import 'variables';

.open-source {
  @media (max-width: 768px) {
    .heading {
      padding: 0 10%;
    }
  }

  .github-icon {
    padding-top: 4px;
  }

  .info {
    font-size: 20px;
    line-height: 24px;
    padding: 0 10%;
  }

  .sponsored-oss {
    background-color: $off-white;
    color: $color4;

    .heading {
      color: $color4;
      font-size: 4rem;
      margin: 0;
      padding: 5px;
      text-align: center;
    }
  }
}
