@import 'variables';

.open-source {
  @media (max-width: 768px) {
    .heading {
      padding: 0 10%;
    }
  }

  .heading {
    color: $whiteish;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .hero {
    background: url(../img/open-source.jpg) no-repeat bottom center;
    background-size: cover;
    text-align: center;
    .hero-header {
      padding: 15px;
      .heartIcon {
        position: relative;
        top: 1vw;
        path {
          fill: $cream;
        }
      }
    }
    p {
      color: $cream;
      text-align: left;
    }
  }

  .github-icon {
    padding-top: 4px;
  }

  .info {
    font-size: 20px;
    line-height: 24px;
    padding: 0 10%;
  }

  #sponsored-oss {
    background-color: $veryLight;
    color: $color4;
    .heading {
      color: $color4;
    }
  }
}
