@import 'variables';

.open-source {
  @media (max-width: 768px) {
    h1 {
      padding: 0 10%;
    }
  }

  .hero {
    background: url(../img/open-source.jpg) no-repeat bottom center;
    background-size: cover;
    text-align: center;

    h1 {
      font-size: 6vw;
    }
  }

  h1 {
    color: $whiteish;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .info {
    font-size: 20px;
    line-height: 24px;
    padding: 0 10%;
  }
}
