@import 'variables';

.technologies {
  padding-top: 100px;
  grid {
    padding: 0 10%;
    centered {
      padding: 0 20px;
    }
  }
  h1 {
    color: $whiteish;
    font-size: 4rem;
    margin: 25px 0 50px 0;
  }
  .logo {
    height: auto;
    width: 100%;
  }
}
