$primary: #80827c;
$secondary: #c8c6c1;
$dark: darken(#5e6977, 15);
$dark-green: #426170;
$white: #ffffff;

$pink: #e5b2ba;
$blue: #6ca3bb;
$darkerBlue: #4d6a78;
$offWhite: #e8e9ea;

$darkGrey: #676767;
$grey: #5e6977;

$color3: #191422;
$color4: #251d32;
