$primary: #80827c;
$secondary: #c8c6c1;
$dark: darken(#5e6977, 15);
$white: #ffffff;

$background: $primary;
$bloodOrange: #da4843;
$blue: #6CA3BB;
$offWhite: #E8E9EA;
$veryLight: #e3ddee;

$darkestGrey: #4e4e4e;
$darkerGrey: #5a5a5a;
$darkGrey: #676767;
$grey: #5E6977;

$color3: #191422;
$color4: #251d32;

// fonts

$primary-font: 'Open Sans', sans-serif;
