$primary: #80827c;
$secondary: #c8c6c1;
$blue: #6ca3bb;
$dark: darken(#5e6977, 15);
$darker-blue: #4d6a78;
$dark-green: #426170;
$dark-grey: #676767;
$grey: #5e6977;
$inherit: inherit;
$off-white: #e8e9ea;
$pink: #e5b2ba;
$transparent: transparent;
$white: #ffffff;

$color3: #191422;
$color4: #251d32;

$navy: #00213B;
