//////////////////////////////
// HTML Tags
//////////////////////////////

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $f-pier;
}

body {
  background-color: $background;
  color: $c-black;
}

a {
  color: $c-white;
  text-decoration: none;
  &:active {
    color: $c-white;
  }
  &:hover, & > i:hover {
    color: $c-orange;
    cursor: pointer;
  }
  &:visited {
    color: $c-white;
  }
}
