//////////////////////////////
// Variables
//////////////////////////////

//////////////////////////////
// Colors
//////////////////////////////

// Semantic Colors
$black: #000;
$white: #fff;
$whiteish: #DFE6E9;
$cream: #F5F0E1;
$bloodOrange: #DA4843;
$blue: #35BCE0;
$deepPurple: #3D2F53;
$richPurple: #624B86;
$darkMauve: #35323A;
$mutePurple: #7B7486;
$lighterMutePurple: #C1B5D3;

// Functional Colors
$primary: $deepPurple;
$secondary: $richPurple;
$background: $primary;
$navBar: darken($primary, 5%);

//////////////////////////////
// Font Stacks
//////////////////////////////

// Semantic Font Stacks
$f-sans: sans-serif;
$f-open: 'Open Sans', $f-sans;
$f-pier: 'Pier Sans', $f-open;

// Functional Font Stacks
$primary-font: $f-open;

//////////////////////////////
// Ember 3d Nav
//////////////////////////////
$ember-3d-nav: (
  'is-fixed-nav-bg': transparent,
  'nav-bg': $navBar,
  'nav-items': 5,
  'nav-item-hover': darken($navBar, 5%),
  'nav-item-selected': darken($navBar, 5%),
  'nav-text-color': $cream,
  'nav-trigger-color': $cream
);
