//////////////////////////////
// Variables
//////////////////////////////

//////////////////////////////
// Colors
//////////////////////////////

// Semantic Colors
$c-black: #090208;
$c-purple: #591e54;
$c-orange: #f36c13;
$c-teal: #32b8d0;
$c-light-gray: #f2ecf2;
$c-white: #fefcfc;

// Functional Colors
$primary: $c-purple;
$background: $c-white;
$navBar: darken($primary, 5%);

//////////////////////////////
// Font Stacks
//////////////////////////////

// Semantic Font Stacks
$f-sans: sans-serif;
$f-open: 'Open Sans', $f-sans;
$f-pier: 'Pier Sans', $f-open;

// Functional Font Stacks
$primary-font: $f-open;

//////////////////////////////
// Ember 3d Nav
//////////////////////////////
$ember-3d-nav: (
  'is-fixed-nav-bg': transparent,
  'nav-bg': $navBar,
  'nav-items': 5,
  'nav-item-hover': darken($navBar, 5%),
  'nav-item-selected': darken($navBar, 5%),
  'nav-text-color': $c-light-gray,
  'nav-trigger-color': $c-light-gray
);
