.hero {
  text-align: center;
}

.hero-header {
  font-size: 12vw;
}

.hero-subheader {
  font-size: 5vw;
}

.nav-trigger-container {
  backface-visibility: hidden;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
}
