.hero.blog {
  background: url(../img/blog.jpg) no-repeat bottom center/cover;
}

.hero.blog-post {
  background: url(../../img/blog.jpg) no-repeat bottom center/cover;
}

.hero.blog .hero-header,
.hero.blog-post .hero-header {
  padding: 30px;
}

.hero.blog h2,
.hero.blog-post h2 {
  color: #ffffff;
}

.hero.blog-post time {
  color: #e8e9ea;
  font-size: 2.5rem;
}
