.hero.blog {
  background: url(../img/blog.jpg) no-repeat bottom center/cover;
}

.hero.blog-author {
  background: url(../../../img/blog.jpg) no-repeat bottom center/cover;
}

.hero.blog .hero-header,
.hero.blog-post .hero-header,
.hero.blog-author .hero-header {
  padding: 30px;
}

.hero.blog-author .hero-header {
  font-size: 8vw;
}

.hero.blog h2,
.hero.blog-post h2,
.hero.blog-author h2 {
  color: #ffffff;
}

.hero.blog-post time {
  color: #ffffff;
  font-size: 2.5rem;
}

.aiming-for-targets-with-ember .hero.blog-post {
  background: url(../../img/blog/blog-post-1.jpg) no-repeat bottom center/cover;
}

.ember-data-passing-query-params-to-save .hero.blog-post {
  background: url(../../img/blog/blog-post-2.jpg) no-repeat bottom center/cover;
}

.ember-in-repo-addons .hero.blog-post {
  background: url(../../img/blog/blog-post-3.jpg) no-repeat bottom center/cover;
}

.ember-without-jquery .hero.blog-post {
  background: url(../../img/blog/blog-post-4.jpg) no-repeat bottom center/cover;
}

.helpful-resources-for-new-ember-devs .hero.blog-post {
  background: url(../../img/blog/blog-post-5.jpg) no-repeat bottom center/cover;
}

.reloading-hasmany-relationships .hero.blog-post {
  background: url(../../img/blog/blog-post-6.jpg) no-repeat bottom center/cover;
}

.using-components-in-ember-mixin-unit-tests .hero.blog-post {
  background: url(../../img/blog/blog-post-7.jpg) no-repeat bottom center/cover;
}
