.hero.contact {
  /*background: url(/img/contact.jpg) no-repeat bottom center/cover;*/
}

.contact .alerts {
  margin-top: 11rem;
  text-align: center;
}

.contact .cd-form {
  background-color: transparent;
}
