<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <h2 class="heading">Why use Ember?</h2>

    {{#x-tabs
      customClass="custom-tabs"
      tab-style="tabs-style-line" as |xt|
    }}
      <div class="max-w-lg">

        {{!-- tab content --}}
        {{#xt.tabs as |tabs|}}
          {{#tabs.tab name="overview" classNames="w-full"}}
            <span>Overview</span>
          {{/tabs.tab}}

          {{#tabs.tab name="ember.js" classNames="w-full"}}
            <span>Ember.js</span>
          {{/tabs.tab}}

          {{#tabs.tab name="ember-data" classNames="w-full"}}
            <span>Ember Data</span>
          {{/tabs.tab}}

          {{#tabs.tab name="ember-addons" classNames="w-full"}}
            <span>Ember Addons</span>
          {{/tabs.tab}}
        {{/xt.tabs}}

        {{#xt.panes as |panes|}}
          {{#panes.pane name="overview"}}
            <p>
              Ember is our JavaScript framework of choice for building ambitious web apps.
              Ember is strongly opinionated and strives for convention over configuration, and
              these strong conventions allow developers to be productive from day one. Ember also
              has a strong addon ecosystem, and using popular JavaScript libraries is usually just a simple
              install command away.
            </p>
          {{/panes.pane}}

          {{#panes.pane name="ember.js"}}
            <p>
              We've built apps at Ship Shape using many different and varied frameworks and libraries, from Angular to Backbone, to PHP and jQuery,
              to .NET and Knockout.js, and beyond. Ember.js remains our top choice for developing ambitious applications due to its strong conventions,
              ease of updating, and commitment to stability over stagnation. These ideals ensure your app will remain bulletproof from day one to years
              from now.
            </p>
          {{/panes.pane}}

          {{#panes.pane name="ember-data"}}
            <p>
              Ember Data is a library for robustly managing data in applications built with Ember.js. It provides an intuitive API with models
              representing your data model, and simple commands to get and save changes to the data. When using JSON API, it works right out of the box,
              but it is designed to be agnostic to the underlying persistence mechanism, so it works just as well with other data formats and APIs. Once
              your adapters and serializers have been modified, to conform to your API, the same, familiar Ember Data commands will work for all Ember apps.
            </p>
          {{/panes.pane}}

          {{#panes.pane name="ember-addons"}}
            <p>
              One of the best parts about Ember, is its incredibly robust addon ecosystem. Need to manage authentication/authorization? There's an addon
              for that. Need to create a style guide to showcase your brand and common components? There's an addon for that too! With thousands of addons,
              there is generally an addon for most common application concerns. Leveraging these addons frees us up to focus on the nitty gritty details
              of your application.
            </p>
          {{/panes.pane}}
        {{/xt.panes}}
      </div>
    {{/x-tabs}}
  </div>
</div>