<HeroBlock @heroClasses="blog" @icon="landing">
  <h1>{{category}}</h1>
</HeroBlock>

<div class="blog-posts section flex flex-wrap justify-center">
  <div class="section-content">
    <BlogPostMenu @posts={{blogPostsSortedByDate}}></BlogPostMenu>
  </div>
</div>