& {
  background: url(/img/sea.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .footer-logo {
    path {
      fill: $gold;
      stroke: $gold;
      stroke-width: 1.25rem;
    }
  }

  .footer-bottom {
    background: #142636;

    a {
      color: $grey;
      font-weight: bold;

      &:hover {
        color: $grey-transparent;
      }
    }

    svg {
      path {
        fill: $gold;
        transition-duration: 0.25s;
        transition-property: fill;
      }

      &:hover {
        path {
          fill: $grey-transparent;
        }
      }
    }
  }
}
