{{#hero-block
  heroClasses="blog"}}
  <h1>{{category}}</h1>
{{/hero-block}}

<box class="blog-posts" id="blog-posts">
  <hbox justify="center">
    <box fit xs="12" sm="8" md="6">
      {{blog-post-menu posts=blogPostsSortedByDate}}
    </box>
  </hbox>
</box>

{{contact-footer}}