<HeroBlock @heroClasses="blog-author">
  <h1 class="heading">{{author.attributes.name}}</h1>
  <h2>
    {{model.length}} posts
  </h2>
</HeroBlock>

<div class="blog-posts section flex flex-wrap justify-center">
  <div class="section-content">
    <BlogPostMenu @posts={{model}}></BlogPostMenu>
  </div>
</div>