{{#hero-block
  heroClasses="blog-author"}}
  <h1>{{author.name}}</h1>
  <h2>
    {{model.length}} posts
  </h2>
{{/hero-block}}

<box class="blog-posts" id="blog-posts">
  <hbox justify="center">
    <box fit xs="12" sm="8" md="6">
      {{blog-post-menu posts=model}}
    </box>
  </hbox>
</box>