<div class="blog-posts section flex flex-wrap justify-center">
  <div class="section-content">
    <div class="flex items-center">
      <h1>Authors</h1>
    </div>

    {{#each this.model as |author|}}
      <p>{{author.attributes.name}}</p>
    {{/each}}
  </div>
</div>