//////////////////////////////
// Hero Styles
//////////////////////////////

.hero-header,
.hero-subheader {
  color: $c-light-gray;
  font-family: 'Pier Sans';
  margin: 20px 0px 0px 0px;
}

.hero-header {
  font-size: 12vw;
}
.hero-subheader {
  font-size: 5vw;
}
