//////////////////////////////
// Hero Styles
//////////////////////////////

.hero {
  font-family: $f-pier;
  color: $c-purple;
  text-align: center;
  padding: 150px 0;

  &-heading,
  &-subheading {
    margin-bottom: 0;
    text-shadow: .035em .035em .015em black(.25);
  }

  &-heading {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &-subheading {}
}
