//////////////////////////////
// Process Item
//////////////////////////////

.process_item {

  &-container {
    @include container(80%);
    padding: 75px 0;
    position: relative;

    @include bp(bravo) {
      padding: 200px 0;
    }
  }

  &-header {
    position: relative;
    z-index: 2;

    @include bp(bravo) {
      @include span(4);
    }
  }

  &-heading {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &-sub-heading {}

  &-content {
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
    z-index: 2;

    @include bp(bravo) {
      @include span(8);
      @include last;
    }
  }

  &.build {
    background: $c-orange;
    color: $c-white;
  }

  &.ship {
    background: $c-purple;
    color: $c-white;

    .svg-icon * {
      stroke: white(.1);
    }
  }

  .svg-icon {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;

    * {
      fill: none;
      stroke: rgba($c-purple, .075);
    }
  }
}
