<div class="section flex flex-wrap justify-center">
  <div class="max-w-2xl w-full">
    <div class="p-4 lg:p-12">
      <div class="text-xs">Case Study</div>

      <h1 class="text-4xl lg:text-6xl">
        Netflix
      </h1>

      <p>
        Netflix is the world's leading internet entertainment service with more than 130 million memberships
        in over 190 countries enjoying TV series, documentaries and feature films across a wide variety of genres
        and languages. Members can watch as much as they want, anytime, anywhere, on any internet-connected screen.
        Members can play, pause and resume watching, all without commercials or commitments.
      </p>
    </div>

    <div class="bg-netflix-red flex flex-wrap h-64 md:h-75vh justify-center items-center">
      <div class="p-48 w-1/2">
        {{svg-jar "netflix" class="fill-white h-auto w-full"}}
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Challenge</h4>

      <p>
        Netflix created several apps, several years ago, for their internal teams to use for
        keeping track of finances across the spectrum. The developers that initially wrote the apps
        had left the company, and the apps had been neglected for a long time. Ship Shape was tasked
        with whipping the apps into shape, increasing code coverage from tests, and developing some
        long awaited new features.
      </p>
    </div>

    <div class="bg-grey flex flex-wrap min-h-75vh justify-center">
      <div class="flex flex-wrap justify-center items-center p-4 lg:p-24 md:flex-no-wrap">
        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Solution</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="bg-netflix-red flex flex-wrap min-h-75vh justify-center">
      <div class="flex flex-wrap justify-center items-center p-4 lg:p-24 md:flex-no-wrap">
        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="flex flex-wrap justify-center w-full lg:h-75vh">
      <div class="bg-grey flex justify-center items-center p-4 lg:flex-1 lg:mr-8">
        <div class="p-4 lg:p-32">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>

      <div class="bg-netflix-red flex justify-center items-center p-4 lg:flex-1">
        <div class="p-4 lg:p-32">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>

    </div>

    <div class="p-4 lg:p-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Outcome</h4>

      <p>
        We were integrated with the Studio Finance UI team at Netflix, working primarily on Gravity, which is a
        financial app that allows users to upload and edit large amounts of data about shows and movies. It was a
        mostly unmaintained app when we started, and we were tasked with whipping it into shape and increasing the
        code coverage from tests.
      </p>
    </div>

    <div class="bg-netflix-red flex justify-center lg:flex-1">
      <div class="pl-4 pr-4 pt-4 lg:pl-24 lg:pr-24 lg:pt-12">
        <img
          alt="Desktop Placeholder"
          src="/img/work/desktop-placeholder.png"
        >
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <BottomLinks
      @nextLink="work.brokermate"
      @nextLinkText="Brokermate"
      @previousLink="work.socialcode"
      @previousLinkText="SocialCode"
    >
    </BottomLinks>
  </div>
</div>