.contact {
  background: url(../img/contact.jpg) no-repeat bottom center;
  background-size: cover;
  .hero {

    text-align: center;
  }

  h1 {
    color: $c-white;
    font-size: 4rem;
    margin: 25px 0 50px 0;
  }

  h2 {
    font-size: 3rem;
    margin: 25px 0 50px 0;
  }
}
