.home {
  background-color: $c-white;

  .hero {
    background: url(../img/Sailing.jpg) no-repeat bottom center;
    background-size: cover;
  }

  .tagline {
    background-color: $background;
    text-align: center;

    .element {
      color: $c-white;
      font-family: 'Signika', sans-serif;
      font-size: 4rem;
      margin: 0;
      padding: 50px 25px;
    }
  }
}
