& {
  color: $grey;
  font-size: 1.6rem;
  line-height: 1.66;

  @media only screen and (min-width: 768px) {
    font-size: 2rem;
  }

  .blog-post-title {
    color: $white;
    font-size: 2.5em;

    @media only screen and (min-width: 768px) {
      font-size: 5.5rem;
    }
  }

  a {
    color: $blue;

    &:visited {
      color: $blue;
    }

    &:hover {
      color: $pink;
    }
  }

  code {
    &:not([class*="language-"]) {
      background-color: $offWhite;
      border: 1px solid $secondary;
      border-radius: 2px;
      font-size: 0.8em;
      line-height: 1rem;
      padding: 0.2rem 0.3rem 0.1rem;
      vertical-align: middle;
      white-space: pre-wrap;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.2;
    margin: 1.5em 0 0.75em;
  }

  h3 {
    font-size: 2.25rem;

    @media only screen and (min-width: 768px) {
      font-size: 2.875rem;
    }
  }

  h4 {
    margin: 1.33em 0;
  }

  h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
  }

  li {
    display: list-item;
    margin: 1em 0;
  }

  ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
  }

  p {
    margin: 1em 0;
  }
}
