<div itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="publisher" href="shipshapeorg">
  <link itemprop="image" href="shipshapelogo">

  <div class="post-content section flex flex-wrap justify-center">
    <div class="max-w-lg w-full">
      <h1 class="blog-post-title" itemprop="headline">
        {{this.title}}
      </h1>

      <AuthorRow
        @author={{this.author}}
        @date={{this.date}}
      >
      </AuthorRow>

      {{content}}
    </div>
  </div>
</div>
