& {
  $shevy-hero-block: (
    base-font-size: 1.25rem
  );

  @include headings($shevy-hero-block);
  @include content($shevy-hero-block);

  .hero-svg {
    height: auto;
    padding: 2rem;
    width: 80%;
  }
}
