& {
  [data-scroll] {
    .mobile-scroll {
      svg {
        g {
          stroke: $white;
        }
      }
    }

    .mouse-icon {
      border: 2px solid $white;

      .wheelContainer {
        .wheel {
          background: $white;
        }

        .wheelSecond {
          background: $white;
        }
      }
    }
  }
}
