& {
  img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    height: auto;

    max-height: none;
    max-width: none;

    min-height: 100%;
    min-width: 100%;

    transform: translate(-50%, -50%);
  }

  [data-scroll] {
    .mobile-scroll {
      svg {
        g {
          stroke: $white;
        }
      }
    }

    .mouse-icon {
      border: 2px solid $white;

      .wheelContainer {
        .wheel {
          background: $white;
        }

        .wheelSecond {
          background: $white;
        }
      }
    }
  }
}
