<centered>
  <grid class="inner">
    <centered xs="12">
      <h1 class="hero-heading">Ship Shape</h1>
    </centered>
    <centered xs="12">
      <h2 class="hero-subheading">Code that won't sink</h2>
    </centered>
  </grid>
</centered>
{{!-- #scroll-to href='.design'}}
  {{scroll-suggest}}
{{/scroll-to --}}
