<centered>
  <grid class="inner">
    <centered xs="12">
      <h1>SHIP SHAPE</h1>
    </centered>
    <centered xs="12">
      <h2>Code that won't sink</h2>
    </centered>
  </grid>
</centered>
{{#scroll-to href='.tagline' offset=-100}}
  {{scroll-suggest}}
{{/scroll-to}}
