<div
  class="{{this.styleNamespace}} hero {{@heroClasses}} flex flex-wrap items-center flex-col-reverse lg:flex-row"
>
  <div class="w-full lg:w-1/2">
    {{yield}}
  </div>

  <div class="w-full lg:w-1/2 lg:p-12 text-center">
    {{svg-jar icon class="max-w-md"}}
  </div>
</div>
