<div class="{{this.styleNamespace}} hero {{@heroClasses}} bg-grey-transparent flex items-center">
  <div class="w-full md:w-1/2">
    {{yield}}
  </div>

  <div class="w-full md:w-1/2 text-center">
    {{svg-jar icon class="hero-svg"}}
  </div>
</div>
