<div class="section">
  <div class="section-content flex flex-wrap justify-center">
    <div class="flex-1 flex flex-wrap justify-center">
      <div>
        <img src="/img/blog/authors/robert.jpg" alt="Robert Wagner">
        <h5 class="heading">Robert Wagner</h5>
        <p>The Captain</p>
      </div>
    </div>

    <div class="flex-1 flex flex-wrap justify-center">
      <div>
        <img src="/img/blog/authors/robert.jpg" alt="Brian Sipple">
        <h5 class="heading">Brian Sipple</h5>
        <p>Senior Software Engineer</p>
      </div>
    </div>
  </div>
</div>