& {
  .post-content {
    $shevy-blog-post: (
      base-font-scale: (2.5, 2, 1.75, 1.5, 1.25, 1)
    );

    @include headings($shevy-blog-post);
    @include content($shevy-blog-post);

    code {
      &[class*="language-"] {
        font-size: 14px;
      }

      &:not([class*="language-"]) {
        background-color: $grey-transparent;
        border: none;
        border-radius: 2px;
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 0.1rem 0.2rem;
        vertical-align: middle;
        white-space: pre-wrap;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    li {
      display: list-item;
    }

    ol {
      list-style-type: decimal;
      padding-left: 40px;
    }

    ul {
      list-style-type: disc;
      margin-left: 4rem;
    }
  }

  a {
    color: $red;

    &:visited {
      color: $red;
    }

    &:hover {
      color: $navy;
    }
  }
}
