&.footer {
  background-color: $darker-blue;
  box-sizing: border-box;
  margin-top: 68px;
  min-height: 100px;

  i {
    padding: 10px;
  }

  .copyright {
    border-top: 1px solid $secondary;
    color: $off-white;
    font-size: 1rem;
    padding: 2rem 0;

    svg {
      margin-bottom: -0.1rem;

      path {
        fill: $off-white;
      }
    }
  }

  .heading {
    color: $secondary;
    font-weight: bolder;
  }

  .heading,
  .link {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .link {
    font-weight: lighter;
  }

  .links {
    padding: 2rem 0;
  }

  .logo {
    padding: 1rem 0;

    svg {
      path {
        fill: $off-white;
        stroke: $off-white;
        stroke-width: 3rem;
      }
    }
  }

  .section {
    padding: 1rem 2rem;
  }
}
