.footer {
  min-height: 100px;
  background-color: $c-teal;
  color: $c-white;
  padding: 25px;
  margin-top: 50px;
  @include jagged(32b8d0, 40, top, fill, outside);

  i {
    padding: 10px;
  }

  &:before {
    animation: wave 30s linear infinite;
    @keyframes wave {
      0% {
        background-position: 0%;
        //transform: rotate(0deg);
      }
      100% {
        background-position: 100%;
        //transform: rotate(-2deg);
      }
    }
  }
}
