<div class="footer">
  <grid>
    <centered>{{fa-icon "copyright" size=1}} 2016 Ship Shape</centered>
    <centered>
      <a href="https://github.com/shipshapecode">{{fa-icon "github-alt" size=2}}</a>
      {{!--fa-icon "facebook" size=2--}}
    </centered>
  </grid>
</div>