<div class="footer">
  <grid>
    <centered class="copyright">{{svg-jar "copyright" height="18px" width="18px"}} {{year}} Ship Shape</centered>
    <centered>
      <a href="https://github.com/shipshapecode" class="ssIcon" aria-label="Ship Shape on GitHub">
        {{svg-jar "github-alt" height="32px" width="32px"}}
      </a>
      <a href="https://twitter.com/shipshapecode" class="ssIcon" aria-label="Ship Shape on Twitter">
        {{svg-jar "twitter" height="32px" width="32px"}}
      </a>
      <a href="mailto:ahoy@shipshape.io">ahoy@shipshape.io</a>
    </centered>
  </grid>
</div>
