<div class="{{this.styleNamespace}}">
  <div class="footer-top">
    <div class="sea text-center">
      <h3 class="font-bold p-4 text-5xl text-white">
        Set a course for success
      </h3>

      <p class="p-4 text-gold">
        Ember.js consulting, development, and training for your project.
      </p>

      {{#link-to "contact" class="btn-gold inline-block mt-4"}}
        Let's talk
      {{/link-to}}
    </div>
  </div>

  <div class="flex flex-wrap footer-bottom justify-center">
    <div class="w-full flex justify-center">
      {{svg-jar "logo" class="footer-logo h-16 w-16"}}
    </div>
    <div class="w-full flex justify-center">
      Case Studies
    </div>
    <div class="w-full flex justify-center">
      Ember Consulting
    </div>
  </div>
</div>
