& {
  a {
    color: $secondary;

    svg {
      fill: $secondary;
      transition-duration: 0.25s;
      transition-property: margin-left;
    }

    &:active,
    &:visited {
      color: $secondary;
    }

    &:hover {
      color: $red;
      cursor: pointer;

      svg {
        fill: $red;
        margin-left: 0.5rem;
      }
    }
  }

  svg {
    margin-bottom: -0.2rem;
  }

  .ember-image {
    height: auto;
    max-width: 300px;
    padding: 1rem;
    width: 100%;
  }

  .image-container {
    display: inline-grid;
  }
}
