& {
  $shevy-community-involvement: (
    base-font-scale: (3.5, 3, 2, 1.5, 1.25, 1)
  );

  @include headings($shevy-community-involvement);
  @include content($shevy-community-involvement);

  svg {
    margin-bottom: -0.2rem;
  }

  a {
    color: $navy;
    font-weight: bold;

    svg {
      fill: $navy;
      transition-duration: 0.25s;
      transition-property: margin-left;
    }

    &:active,
    &:visited {
      color: $navy;
    }

    &:hover {
      color: $red;
      cursor: pointer;

      svg {
        fill: $red;
        margin-left: 0.5rem;
      }
    }
  }

  .ember-image {
    height: auto;
    max-width: 300px;
    padding: 1rem;
    width: 100%;
  }

  .image-container {
    display: inline-grid;
  }
}
