<div class="{{this.styleNamespace}}" id="community">
  <hbox justify="center">
    <hbox xs="12">
      <centered xs="12">
        <hbox xs="12" md="11" lg="8">
          <grid>
            <hbox xs="12">
              <vbox xs="12" class="info">
                <h2 class="heading">Community Involvement</h2>
                <p>
                  We've been using Ember since 2012, and have been very active in the community. We maintain countless Ember addons, contribute
                  to Ember, Ember-CLI, and the Ember docs sites, run the Ember.JS DC meetup, sponsor and run workshops at
                  EmberConf, and anything and everything we can possibly do to help further Ember as a framework and as a
                  community.
                </p>
              </vbox>
            </hbox>
          </grid>
        </hbox>
      </centered>
      <centered xs="12">
        <hbox xs="12" md="11" lg="8">
          <hbox xs="12" md="6">
            <vbox xs="12" class="info">
              <h3 class="heading">EmberConf</h3>
              <p>
                We ran the Improving Ember App Performance workshop at EmberConf 2018, where we explored techniques to reduce your bundle
                size, improving your rendering performance, and cache your assets to make reloads blazing fast.
              </p>
              <a href="https://emberconf.com/schedule.html#e-improving-ember-app-performance">
                Learn More {{svg-jar "angle-right" height="1rem" width="1rem"}}
              </a>
            </vbox>
          </hbox>

          <hbox xs="12" md="6">
            <vbox xs="12" class="info">
              <h3 class="heading">Ember Cares</h3>
              <p>
                We spearheaded the efforts behind Ember Cares in 2017, where we created a No Shave November Tomster and Breast Cancer Awareness
                Zoey and sold merch to raise money for the Cancer Research Institute.
              </p>
              <a href="https://embercares.com/">
                Learn More {{svg-jar "angle-right" height="1rem" width="1rem"}}
              </a>
            </vbox>
          </hbox>

          <hbox xs="12" md="8">
            <vbox xs="12" class="info">
              <h3 class="heading">Ember.JS DC</h3>
              <p>
                We organize the Ember.JS DC meetup, and we try to spread the love throughout Virginia and Maryland as well, alternating meeting
                spots. If you are an Ember enthusiast, of any level, we would love to have you come learn with us!
              </p>
              <a href="https://www.meetup.com/Ember-JS-DC/">
                Learn More {{svg-jar "angle-right" height="1rem" width="1rem"}}
              </a>
            </vbox>
          </hbox>

          <centered xs="12" md="4">
            <img class="ember-image" src="/img/ember-dc.png" alt="Ember.JS DC Tomster in front of the White House">
          </centered>
        </hbox>
      </centered>
    </hbox>
  </hbox>
</div>