<div class="section flex flex-wrap justify-center">
  <div class="max-w-2xl w-full">
    <div class="p-4 lg:p-12">
      <div class="text-xs">Case Study</div>

      <h1 class="text-4xl lg:text-6xl">
        Acquia
      </h1>

      <p>
        Acquia is the open source digital experience company. They provide the world's most ambitious
        brands with technology that allows them to embrace innovation and create customer moments that matter.
      </p>

      <p>
        Acquia is helping some of the world’s leading brands succeed, including Twitter, Mercedes Benz,
        Warner Music Group, and Stanford University. More than 4,000 organizations are using Acquia’s solutions
        for content, community and commerce.
      </p>
    </div>

    <div class="bg-acquia-blue flex flex-wrap h-64 md:h-140 justify-center items-center">
      <div class="w-1/2">
        {{svg-jar "acquia" class="fill-white h-auto w-full"}}
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Challenge</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="bg-grey flex flex-wrap h-full max-h-35rem justify-center">
      <div class="flex flex-wrap justify-center items-center p-4 lg:p-24 md:flex-no-wrap">
        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Solution</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="bg-acquia-blue flex flex-wrap min-h-full max-h-35rem justify-center">
      <div class="flex flex-wrap justify-center items-center p-4 lg:p-24 md:flex-no-wrap">
        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="flex flex-wrap justify-center w-full lg:h-full max-h-35rem">
      <div class="bg-grey flex justify-center items-center p-4 lg:flex-1 lg:mr-8">
        <div class="p-4 lg:p-32">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>

      <div class="bg-acquia-blue flex justify-center items-center p-4 lg:flex-1">
        <div class="p-4 lg:p-32">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>

    </div>

    <div class="p-4 lg:p-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Outcome</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="bg-acquia-blue flex justify-center lg:flex-1">
      <div class="pl-4 pr-4 pt-4 lg:pl-24 lg:pr-24 lg:pt-12">
        <img
          alt="Desktop Placeholder"
          src="/img/work/desktop-placeholder.png"
        >
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <BottomLinks
      @nextLink="work.socialcode"
      @nextLinkText="SocialCode"
      @previousLink="work.brokermate"
      @previousLinkText="Brokermate"
    >
    </BottomLinks>
  </div>
</div>