<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <h1>
      Acquia
    </h1>

    <div>
      <h3>Client</h3>

      <p>
        Acquia is the open source digital experience company. They provide the world's most ambitious
        brands with technology that allows them to embrace innovation and create customer moments that matter.
      </p>

      <p>
        Acquia is helping some of the world’s leading brands succeed, including Twitter, Mercedes Benz,
        Warner Music Group, and Stanford University. More than 4,000 organizations are using Acquia’s solutions
        for content, community and commerce.
      </p>
    </div>

    <div>
      <h3>Challenge</h3>

      <p>

      </p>
    </div>

    <div>
      <h3>Solution</h3>

      <p>

      </p>
    </div>

    <div>
      <h3>Outcome</h3>

      <p>

      </p>
    </div>
  </div>
</div>