<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <h1>
      Brokermate
    </h1>

    <div>
      <h3>Client</h3>

      <p>
        Brokermate is a software as a service (SaaS) company.
        The company provides a white-label application ("The Broker App"​) designed for the OTC derivatives marketplace.
        The application is offered in two versions, Lite™ and Pro™.
        Lite™ is designed for Affiliates & Introducing Brokers, while Pro™ is made for Brokers & Market Makers.
        Brokermate’s application supports multiple languages and is a device agnostic solution.
        The all-in-one framework comes with Liquidity, Pricing, and Risk Management, as well as the standard CRM,
        Marketing, and Accounting functionality.
      </p>
    </div>

    <div>
      <h3>Challenge</h3>

      <p>
        Brokermate needed site tours to show users around their app, and walk them through things like setting up
        their profile. They needed these tours to have very custom styles, span across routes, trigger actions on
        step completion, and have the app still be interactive while the tour is running, to allow the users to
        follow along with the tour and complete the action items.
      </p>
    </div>

    <div>
      <h3>Solution</h3>

      <p>
        We used Shepherd.js and ember-shepherd, two open source libraries we maintain, to create some tours.
      </p>
    </div>

    <div>
      <h3>Outcome</h3>

      <p>

      </p>
    </div>
  </div>
</div>