<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <h1>
      Brokermate
    </h1>

    <div>
      <h3>Client</h3>
    </div>

    <div>
      <h3>Challenge</h3>
    </div>

    <div>
      <h3>Solution</h3>
    </div>

    <div>
      <h3>Outcome</h3>
    </div>
  </div>
</div>