<HeroBlock @heroClasses="ember-consulting" @icon="landing">
  <h1 class="heading">Case Studies</h1>
  <p>
    We've been using Ember since 2012, and have helped countless clients, from startups
    to large corporations, build scalable and maintainable apps that stand the test of time.
  </p>
  <div>
    {{#link-to "contact" class="btn-navy"}}
      Let's build together
    {{/link-to}}
  </div>
</HeroBlock>

<CaseStudiesList></CaseStudiesList>

<ClientsGrid></ClientsGrid>