<div>
  {{#ember-3d-folding-panel}}
    {{#each model.clients as |item|}}
      {{#item-square item=item}}
        <img alt="{{item.heading}}" height="100px" src="{{item.imageURL}}">
      {{/item-square}}
    {{/each}}
  {{/ember-3d-folding-panel}}
</div>