<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <h1>
      Netflix
    </h1>

    <div>
      <h3>Client</h3>

      <p>
        Netflix is the world's leading internet entertainment service with more than 130 million memberships
        in over 190 countries enjoying TV series, documentaries and feature films across a wide variety of genres
        and languages. Members can watch as much as they want, anytime, anywhere, on any internet-connected screen.
        Members can play, pause and resume watching, all without commercials or commitments.
      </p>
    </div>

    <div>
      <h3>Challenge</h3>

      <p>
        Netflix created several apps, several years ago, for their internal teams to use for
        keeping track of finances across the spectrum. The developers that initially wrote the apps
        had left the company, and the apps had been neglected for a long time. Ship Shape was tasked
        with whipping the apps into shape, increasing code coverage from tests, and developing some
        long awaited new features.
      </p>
    </div>

    <div>
      <h3>Solution</h3>

      <p>

      </p>
    </div>

    <div>
      <h3>Outcome</h3>

      <img src="/img/cost-categories.png" alt="Brokermate">

      <p>
        We were integrated with the Studio Finance UI team at Netflix, working primarily on Gravity, which is a
        financial app that allows users to upload and edit large amounts of data about shows and movies. It was a
        mostly unmaintained app when we started, and we were tasked with whipping it into shape and increasing the
        code coverage from tests.
      </p>
    </div>
  </div>
</div>