<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <h1>
      Netflix
    </h1>

    <div>
      <h3>Client</h3>
    </div>

    <div>
      <h3>Challenge</h3>
    </div>

    <div>
      <h3>Solution</h3>
    </div>

    <div>
      <h3>Outcome</h3>
    </div>

    <p>
      We were integrated with the Studio Finance UI team at Netflix, working primarily on Gravity, which is a
      financial app that allows users to upload and edit large amounts of data about shows and movies. It was a
      mostly unmaintained app when we started, and we were tasked with whipping it into shape and increasing the
      code coverage from tests.
    </p>
  </div>
</div>