<div class="section flex flex-wrap justify-center">
  <div class="max-w-2xl w-full">
    <div class="p-4 lg:p-12">
      <div class="text-xs">Case Study</div>

      <h1 class="text-4xl lg:text-6xl">
        SocialCode
      </h1>

      <p>
        SocialCode combines audience data, insights, creative and measurement to drive superior performance for
        leading brands. As the first-ever Facebook Ads API partner, SocialCode pioneered digital-first marketing,
        combining institutional media buying expertise, proprietary tech and creative service.
      </p>
    </div>

    <div class="bg-black flex flex-wrap h-64 md:h-75vh justify-center items-center">
      <div class="p-48 w-1/2">
        {{svg-jar "socialcode" class="fill-white h-auto w-full"}}
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Challenge</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="bg-grey flex flex-wrap min-h-75vh justify-center">
      <div class="flex flex-wrap justify-center items-center p-4 lg:p-24 md:flex-no-wrap">
        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Solution</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <div class="bg-black flex flex-wrap min-h-75vh justify-center">
      <div class="flex flex-wrap justify-center items-center p-4 lg:p-24 md:flex-no-wrap">
        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>

        <div class="p-4 lg:p-8">
          <img
            alt="Mobile Placeholder"
            class="h-auto w-full"
            src="/img/work/mobile-placeholder.png"
          >
        </div>
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <h4>Outcome</h4>

      <p>
        SocialCode has a unique "micro apps" setup, which we helped streamline, by moving common dependencies to a
        common addon, and ensuring all apps adhered to the same standards by enforcing the latest eslint-plugin-ember
        rules. We also migrated all the code to use the new modules syntax, and new testing syntax, and updated apps
        to the latest Ember version to make sure we were on the latest and greatest of everything.
      </p>

      <p>
        There was quite a lot of custom code hanging around, in the SocialCode apps, that could be replaced with some
        addons that did not exist when the apps were created. We refactored large chunks of code to use these addons,
        such as a refactor from a custom select to ember-power-select, and other similar refactors, to reduce the
        amount of in house code that needed to be maintained, and improve the stability of the apps going forward.
      </p>
    </div>

    <div class="bg-black flex justify-center lg:flex-1">
      <div class="pl-4 pr-4 pt-4 lg:pl-24 lg:pr-24 lg:pt-12">
        <img
          alt="Desktop Placeholder"
          src="/img/work/socialcode/outcome.jpg"
        >
      </div>
    </div>

    <div class="p-4 lg:p-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar. Semper feugiat nibh sed pulvinar proin gravida
        hendrerit lectus a. Risus at ultrices mi tempus imperdiet. Lacus laoreet non curabitur gravida arcu ac
        tortor dignissim convallis. Lorem ipsum dolor sit amet. Turpis cursus in hac habitasse platea dictumst
        quisque sagittis. Vitae tortor condimentum lacinia quis vel eros donec ac. Nec tincidunt praesent semper
        feugiat nibh sed. Dui accumsan sit amet nulla facilisi.
      </p>
    </div>

    <BottomLinks
      @nextLink="work.netflix"
      @nextLinkText="Netflix"
      @previousLink="work.brokermate"
      @previousLinkText="Brokermate"
    >
    </BottomLinks>
  </div>
</div>