<div class="section">
  <div class="section-content">
    <h1>
      SocialCode
    </h1>

    <div>
      <h3>Client</h3>

      <p>
        SocialCode combines audience data, insights, creative and measurement to drive superior performance for
        leading brands. As the first-ever Facebook Ads API partner, SocialCode pioneered digital-first marketing,
        combining institutional media buying expertise, proprietary tech and creative service.
      </p>
    </div>

    <div>
      <h3>Challenge</h3>
    </div>

    <div>
      <h3>Solution</h3>
    </div>

    <div>
      <h3>Outcome</h3>
    </div>
    <p>
      SocialCode has a unique "micro apps" setup, which we helped streamline, by moving common dependencies to a
      common addon, and ensuring all apps adhered to the same standards by enforcing the latest eslint-plugin-ember
      rules. We also migrated all the code to use the new modules syntax, and new testing syntax, and updated apps
      to the latest Ember version to make sure we were on the latest and greatest of everything.
    </p>
    <p>
      There was quite a lot of custom code hanging around, in the SocialCode apps, that could be replaced with some
      addons that did not exist when the apps were created. We refactored large chunks of code to use these addons,
      such as a refactor from a custom select to ember-power-select, and other similar refactors, to reduce the
      amount of in house code that needed to be maintained, and improve the stability of the apps going forward.
    </p>
  </div>
</div>