<page class="hero">
  <centered>
    <h1 class="hero-header">Ember.js Consulting</h1>
  </centered>
</page>
<page>
  <grid>
    <centered xs="12">
      <h2>Who we've worked with</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <a href="https://www.scoutforpets.com/">
        <vbox>
          <hbox>
            <centered>
              <img src="img/scout-logo.png">
            </centered>
          </hbox>
          <hbox>
            <centered>
              <h2>Scout</h2>
            </centered>
          </hbox>
        </vbox>
      </a>
    </centered>
    <centered xs="12" sm="6" md="4">
      <a href="http://williamsonwagner.com/">
        <vbox>
          <hbox>
            <centered>
              <img src="img/WW.png">
            </centered>
          </hbox>
          <hbox>
            <centered>
              <h2>Williamson Wagner</h2>
            </centered>
          </hbox>
        </vbox>
      </a>
    </centered>
  </grid>
</page>
