<div class="consulting-container">
  <centered>
    <h1>Ember.js Consulting</h1>
  </centered>
  <grid>
    <centered xs="12">
      <h2>Our Ambitious Projects</h2>
    </centered>
    <centered xs="12">
      <h3>Scout</h3>
    </centered>
  </grid>
</div>
