{{#hero-block
  heroClasses='blog'
  scrollToHref='#blog-posts'}}
  <grid>
    <centered xs="12">
      <h1 class="hero-header">Blog</h1>
    </centered>
    <centered xs="12">
      <centered xs="10" class="info">
        <h2>
          Ramblings about Ember.js, JavaScript, life, liberty, and the pursuit of happiness.
        </h2>
      </centered>
    </centered>
  </grid>
{{/hero-block}}

<box class="blog-posts" id="blog-posts">
  <hbox justify="center">
    <box fit xs="12" sm="8" md="6">
      {{blog-post-menu posts=blogPostsSortedByDate}}
    </box>
  </hbox>
</box>