{{#hero-block
  heroClasses='contact'
  scrollToHref='#blog-posts'}}
  <h1 class="hero-header">Blog</h1>
{{/hero-block}}

<page class="blog-posts" id="blog-posts">
  <centered>
    {{blog-post-menu posts=model.files}}
  </centered>
</page>