<div class="blog-posts section flex flex-wrap justify-center">
  <div class="section-content">
    <h1>Blog</h1>
    <p>
      Ramblings about Ember.js, JavaScript, life, liberty, and the pursuit of happiness.
    </p>

    {{blog-post-menu posts=blogPostsSortedByDate}}
  </div>
</div>