<a data-scroll aria-hidden="true" href="{{href}}">
  <div class="mouse-icon">
    <div class="wheelContainer">
      <div class="wheel"></div>
      <div class="wheelSecond"></div>
    </div>
  </div>
</a>
