<centered xs="12" class="section">
  <grid xs="12">
    <centered>
      <div>
        <img src="/img/blog/authors/robert.jpg" alt="Robert Wagner">
        <h5>Robert Wagner</h5>
        <p>The Captain</p>
      </div>
    </centered>

    <centered>
      <div>
        <img src="/img/blog/authors/robert.jpg" alt="Brian Sipple">
        <h5>Brian Sipple</h5>
        <p>Senior Software Engineer</p>
      </div>
    </centered>
  </grid>
</centered>