& {
  margin-bottom: 15px;

  .css-device {
    position: relative;
  }

  .css-device__image {
    // Huge
    @media all
    and (min-width: 1200px)
     {
       height: 15vw;
       width: 30vw;
    }
    // Desktop
    @media all
    and (min-width: 992px)
    and (max-width: 1199px)
     {
       height: 15vw;
       width: 30vw;
    }
    // Tablet
    @media all
    and (min-width: 768px)
    and (max-width: 991px) {
      height: 20vw;
      width: 40vw;
    }

    // Mobile
    @media all
    and (min-width: 0px)
    and (max-width: 767px) {
      height: 50vw;
      width: 85vw;
    }
  }

  .css-device--browser {
    width: 100%;
    /* max-width: 100%; set max width here if you need to. */
    border-top: solid 36px #dfdfdf;
    border-right: solid 2px #dfdfdf;
    border-left: solid 2px #dfdfdf;
    border-bottom: solid 2px #dfdfdf;
    border-radius: 4px 4px 0 0;

    &:before {
      display: block;
      position: absolute;
      top: -24px;
      left: 12px;
      width: 12px;
      height: 12px;
      background-color: #ff3366;
      border-radius: 12px;
      box-shadow: 0 0 0 0 #ff3366, 16px 0 0 0 #ffcc99, 32px 0 0 0 #33ff66;
      content: "";
    }

    &::after {
      display: block;
      overflow: hidden;
      position: absolute;
      top: -27px;
      right: 12px;
      padding: 0 4px;
      width: 180px;
      height: 18px;
      color: #b3b3b3;
      background-color: #fff;
      font-size: 12px;
      font-style: italic;
      line-height: 18px;
      border-radius: 2px;
      content: attr(data-url);
    }
  }

  @media all and (min-width: 480px) {
    &.css-device--browser {
      border-top: solid 48px #dfdfdf;
    }

    &.css-device--browser::before {
      top: -30px;
      box-shadow: 0 0 0 0 #ff3366, 24px 0 0 0 #ffcc99, 48px 0 0 0 #33ff66;
    }

    &.css-device--browser::after {
      top: -36px;
      right: 12px;
      padding: 0 8px;
      width: 240px;
      height: 24px;
      line-height: 24px;
    }
  }
}
