& {
  margin-bottom: 15px;

  .css-device {
    position: relative;
  }

  .css-device__image {
    height: 100%;
    width: 100%;
  }

  .css-device--browser {
    /* Desktop */
    @media all and (min-width: 992px) {
      height: 15vw;
      width: 25vw;
    }

    /* Tablet */
    @media all and (min-width: 768px) and (max-width: 991px) {
      height: 25vw;
      width: 40vw;
    }

    /* Mobile */
    @media all and (min-width: 0) and (max-width: 767px) {
      height: 50vw;
      width: 80vw;
    }

    border-bottom: solid 2px #dfdfdf;
    border-left: solid 2px #dfdfdf;
    border-radius: 4px 4px 0 0;
    border-right: solid 2px #dfdfdf;
    border-top: solid 36px #dfdfdf;

    &:before {
      background-color: #ff3366;
      border-radius: 12px;
      box-shadow: 0 0 0 0 #ff3366, 16px 0 0 0 #ffcc99, 32px 0 0 0 #33ff66;
      content: "";
      display: block;
      height: 12px;
      left: 12px;
      position: absolute;
      top: -24px;
      width: 12px;
    }

    &:after {
      background-color: #ffffff;
      border-radius: 2px;
      color: #b3b3b3;
      content: attr(data-url);
      display: block;
      font-size: 12px;
      font-style: italic;
      height: 18px;
      line-height: 18px;
      overflow: hidden;
      padding: 0 4px;
      position: absolute;
      right: 12px;
      top: -27px;
      width: 180px;
    }
  }

  @media all and (min-width: 480px) {
    &.css-device--browser {
      border-top: solid 48px #dfdfdf;
    }

    &.css-device--browser:before {
      box-shadow: 0 0 0 0 #ff3366, 24px 0 0 0 #ffcc99, 48px 0 0 0 #33ff66;
      top: -30px;
    }

    &.css-device--browser:after {
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
      right: 12px;
      top: -36px;
      width: 240px;
    }
  }
}
