<a href="https://shipshapecode.github.io/{{name}}">
  <div class="css-device css-device--browser">
    <div class="css-device__image"
         style="background: url('img/{{name}}.png') no-repeat bottom center; background-size: cover;">
    </div>     
  </div>
</a>
