<a href="https://github.com/shipshapecode/{{name}}" itemprop="codeRepository">
  <div class="css-device css-device--browser">
    <div class="css-device__image {{concat name '-mock'}}"></div>
  </div>
</a>
