<hbox class="{{this.styleNamespace}}" justify="center" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <centered xs="12" sm="4" md="3" lg="2">
    <img class="authorImage" src="{{@author.image}}" alt="Author image" itemprop="image">
  </centered>
  <box xs="12" sm="8" md="9" lg="10">
    <h3 itemprop="name">
      {{@author.name}}
    </h3>
    <p>
      Read {{link-to 'more posts' 'blog.author' author.id}} by this author.
    </p>
  </box>
</hbox>