<div class="{{this.styleNamespace}} flex flex-wrap justify-center lg:justify-start" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <div class="items-center justify-center">
    <img class="authorImage" src="{{@author.attributes.image}}" alt="Author image" itemprop="image">
  </div>
  <div>
    <h3 itemprop="name">
      {{@author.attributes.name}}
    </h3>
    <p>
      Read {{link-to "more posts" "blog.authors.author" author.id}} by this author.
    </p>
  </div>
</div>