<grid class="{{this.styleNamespace}}">
  <centered xs="12">
    <h2 class="heading">Set a course for success</h2>
  </centered>
  <centered xs="12">
    <p>Ember.js consulting, development, and training for your project. Let's talk.</p>
  </centered>
  <centered xs="12">
    {{#link-to "contact"}}
      CONTACT US
    {{/link-to}}
  </centered>
</grid>
