<grid>
<centered xs="12">
  <h1>Set a course for success</h1>
</centered>
<centered xs="12">
  <p>Ember.js consulting, development, and training for your project. Let's talk.</p>
</centered>
<centered xs="12">
  {{#link-to 'contact'}}
    CONTACT US
  {{/link-to}}
</centered>
</grid>
