<div class="border-t-2 border-grey-transparent border-solid flex flex-wrap mt-24 w-full">
  {{#link-to
    @previousLink
    class="border-r-2 border-grey-transparent border-solid flex-1 font-bold p-4 lg:p-12 w-1/2 hover:bg-grey-transparent"
  }}
    <span class="text-navy text-sm lg:text-xl">Previous</span>

    <h3 class="text-xl lg:text-4xl">{{@previousLinkText}}</h3>
  {{/link-to}}

  {{#link-to
    @nextLink
    class="flex-1 font-bold p-4 lg:p-12 w-1/2 hover:bg-grey-transparent"
  }}
    <span class="text-navy text-sm lg:text-xl">Next Up</span>

    <h3 class="text-xl lg:text-4xl">{{@nextLinkText}}</h3>
  {{/link-to}}
</div>