.hero.open-source {
  background: url(../img/open-source.jpg) no-repeat bottom center/cover;
}

.hero.open-source .hero-header {
  padding: 15px;
}

.hero.open-source .hero-header .heartIcon {
  position: relative;
  top: 1vw;
}

.hero.open-source .hero-header .heartIcon path {
  fill: #ffffff;
}

.hero.open-source p {
  color: #ffffff;
  text-align: left;
}
