<div
  class="flex items-center pb-8"
  itemprop="author"
  itemscope
  itemtype="http://schema.org/Person"
>
  <div class="w-12">
    <img
      class="h-auto rounded-full w-full"
      src="{{@author.attributes.image}}"
      alt="Author image"
      itemprop="image"
    >
  </div>

  <div class="pl-2 pb-2">
    By

    {{link-to
      @author.attributes.name
      "blog.authors.author"
      @author.id
      itemprop="name"
    }}

    |

    <time
      datetime="{{this.date}}"
      itemprop="datePublished dateModified"
    >
      {{date-format @date "MM/DD/YYYY"}}
    </time>
  </div>
</div>