& {
  padding: 1rem;

  .blog-post {
    padding: 2rem;

    .attribution {
      color: $darker-blue;
      padding-top: 1rem;
    }

    .title {
      color: $dark;
      font-size: 2rem;
    }
  }

  .rss-button {
    padding: 1rem 2rem;

    svg {
      path {
        fill: $primary;

        &:hover {
          fill: $dark;
        }
      }
    }
  }
}

