& {
  .blog-post {
    .tag {
      a {
        transition-duration: 0.25s;
        transition-property: background-color, color, fill;
      }
    }

    .title {
      color: $navy;
      font-size: 2rem;
    }
  }
}
