<vbox class="{{this.styleNamespace}}">
  {{#each posts as |post|}}
    <box fit class="blog-post">
      {{link-to post.attributes.title 'blog.post' post.attributes.slug class="title"}}

      <div class="attribution">
        By {{post.attributes.author}} {{moment-format post.attributes.date 'LL'}}
      </div>
    </box>
  {{/each}}
</vbox>