<div class="flex flex-wrap">
  <div class="w-full lg:w-1/3">
    {{svg-jar "mariana-tek-full"}}
  </div>

  <div class="w-full lg:w-1/3">
    {{svg-jar "scout"}}
  </div>

  <div class="w-full lg:w-1/3">
    {{svg-jar "greenlight-guru"}}
  </div>
</div>