.technologies {
  background-color: $cream;
  padding-bottom: 50px;
  .logos {
    padding: 0 10%;
    centered {
      padding: 0 5%;
      .logo {
        height: auto;
        width: 100%;
      }
    }
  }
  h1 {
    color: $background;
    font-size: 3vw;
    margin: 25px 0 50px 0;
    padding: 0;
  }
}
