&.worked-with {
  padding: 5rem 1rem;

  .image-container {
    padding: 1rem 5vw;

    .image {
      flex: 1 0 33%;
      padding: 1rem;

      @media (min-width: 768px) {
        padding: 2rem;
      }

      @media (min-width: 992px) {
        flex: 1 0 20%;
      }

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
