<div class="{{this.styleNamespace}} worked-with" id="worked-with">
  <centered class="text-center" xs="12" fit>
    <h3>
      We've had the pleasure of working with
    </h3>
  </centered>
  <hbox class="image-container" fit>
    <centered class="image">
      <img src="/img/worked-with/netflix.png" alt="Netflix">
    </centered>
    <centered class="image">
      <img src="/img/worked-with/mariana-tek.png" alt="Mariana Tek">
    </centered>
    <centered class="image">
      <img src="/img/worked-with/socialcode.png" alt="SocialCode">
    </centered>
    <centered class="image">
      <img src="/img/worked-with/greenlight-guru.svg" alt="greenlight.guru">
    </centered>
    <centered class="image">
      <img src="/img/worked-with/scout.png" alt="Scout">
    </centered>
  </hbox>
</div>
