{{head-layout}}
<div itemscope itemtype="https://schema.org/Organization" itemid="shipshapeorg">
  {{#nav-trigger-container headroomOffset="0" isFixed=true useHeadroom=true}}
    <a href="/" class="logo">
      <grid>
        <box itemprop="logo" itemscope itemtype="https://schema.org/ImageObject" itemid="shipshapelogo">
          <img itemprop="url" src="/img/logo.png" height="50px" width="50px" alt="Ship Shape">
          <meta itemprop="height" content="128">
          <meta itemprop="width" content="128">
        </box>
        <centered class="logoText" itemprop="name">Ship Shape</centered>
      </grid>
    </a>
  {{/nav-trigger-container}}

  <screen class="main">
    {{outlet}}
  </screen>
  {{wave-footer}}

  <NavContainer>
    {{#each links as |link index|}}
      {{nav-item index=index link=link}}
    {{/each}}
  </NavContainer>

  <FoldingPanel/>
</div>