{{#nav-trigger-container fixed=true}}
  <a href="//shipshape.io" class="cd-logo"><img src="img/ShipShapeIcon.svg" alt="Logo"></a>
{{/nav-trigger-container}}

<main>
  {{outlet}}
  <div class="waves"></div>
</main>

{{#nav-container totalNavItems=model.links.length}}
  {{#each model.links as |link index|}}
    {{nav-item index=index link=link}}
  {{/each}}
{{/nav-container}}
