<div itemscope itemtype="http://schema.org/Service">
  <HeroBlock @heroClasses="ember-consulting" @icon="anchor">
    <h1 itemprop="name">Ambitious Apps with Ember.js</h1>
    <p>
      We've been using Ember since 2012, and have helped countless clients, from startups
      to large corporations, build scalable and maintainable apps that stand the test of time.
    </p>
    <div>
      {{#link-to "contact"}}
        Let's build together
      {{/link-to}}
    </div>
  </HeroBlock>

  <centered xs="12" class="section quote">
    <centered xs="10">
      <box itemprop="review" itemscope itemtype="http://schema.org/Review">
        <h2 class="quoteContent" itemprop="reviewBody">
          “Ship Shape knows what they’re doing. A thoughtful approach, pristine code and a 200% effort in everything they do, makes
          recommending them a no-brainer.”
        </h2>
        <br>
        <div itemprop="author" itemscope itemtype="http://schema.org/Person">
          <p class="quoteInfo" itemprop="name">James Dixon</p>
          <p class="quoteInfo" itemprop="jobTitle">Founder of Scout</p>
        </div>
      </box>
    </centered>
  </centered>

  <centered xs="12" class="section">
    <vbox xs="10">
      <h2>Why use Ember?</h2>
      <p>
        Ember is our JavaScript framework of choice for building ambitious web apps.
        Ember is strongly opinionated and strives for convention over configuration, and
        these strong conventions allow developers to be productive from day one. Ember also
        has a strong addon ecosystem, and using popular JavaScript libraries is usually just a simple
        install command.
      </p>
    </vbox>
  </centered>

  {{community-involvement}}
</div>