<HeroBlock @heroClasses="ember-consulting" @icon="ember-consulting">
  <h1 class="heading">Ember.js Consulting and Training</h1>
  <p>
    We've been using Ember since 2012, and have helped countless clients, from startups
    to large corporations, build scalable and maintainable apps that stand the test of time.
  </p>
  <div>
    {{#link-to "contact" class="btn-navy"}}
      Let's build together
    {{/link-to}}
  </div>
</HeroBlock>

<div class="section quote bg-grey-transparent flex flex-wrap justify-center">
  <div class="section-content">
    <div class="font-bold text-5xl">
      “
    </div>

    <h2 class="font-light text-navy text-2xl lg:text-4xl">
      Ship Shape knows what they’re doing. A thoughtful approach, pristine code and a 200% effort in everything they do, makes
      recommending them a no-brainer.
    </h2>

    <p class="font-bold">
      James Dixon, Founder of <a href="https://www.scoutforpets.com/">Scout</a>
    </p>
  </div>
</div>

{{why-ember}}

{{community-involvement}}