<page class="hero">
  <centered>
    <h1 class="hero-header">Ember.js Consulting</h1>
  </centered>
  {{#scroll-to href='.quote' }}
    {{scroll-suggest}}
  {{/scroll-to}}
</page>

<page class="quote">
  <centered>
    <box>
      <h1>
      “Ship Shape knows what they’re doing.
      A thoughtful approach, pristine code and a 200% effort in everything
      they do, makes recommending them a no-brainer.”
    </h1>
      <br/>
      <p class="quoteInfo">James Dixon</p>
      <p class="quoteInfo">Founder of Scout</p>
    </box>
  </centered>
  {{#scroll-to href='.clients' }}
    {{scroll-suggest}}
  {{/scroll-to}}
</page>

<page class="clients">
  <centered>
    <grid>
      <centered xs="12">
        <h2 class="hero-subheader">Who we've worked with</h2>
      </centered>
      <centered xs="12" sm="6" md="4">
        <a href="https://www.scoutforpets.com/">
          <vbox>
            <hbox>
              <centered>
                <img src="img/scout-logo.png">
              </centered>
            </hbox>
            <hbox>
              <centered>
                <h2>Scout</h2>
              </centered>
            </hbox>
          </vbox>
        </a>
      </centered>
      <centered xs="12" sm="6" md="4">
        <a href="http://williamsonwagner.com/">
          <vbox>
            <hbox>
              <centered>
                <img src="img/WW.png">
              </centered>
            </hbox>
            <hbox>
              <centered>
                <h2>Williamson Wagner</h2>
              </centered>
            </hbox>
          </vbox>
        </a>
      </centered>
    </grid>
  </centered>
</page>

{{contact-footer}}
