{{#hero-block
  heroClasses='ember-consulting'
  scrollToHref='#quote'}}
  <h1 class="hero-header">Ember Consulting</h1>
{{/hero-block}}


<page class="quote" id="quote">
  <centered>
    <box>
      <h1>
        “Ship Shape knows what they’re doing.
        A thoughtful approach, pristine code and a 200% effort in everything
        they do, makes recommending them a no-brainer.”
      </h1>
      <br>
      <p class="quoteInfo">James Dixon</p>
      <p class="quoteInfo">Founder of Scout</p>
    </box>
  </centered>
  <a data-scroll aria-hidden="true" href="#clients">
    {{scroll-suggest}}
  </a>
</page>

<div class="clients" id="clients">
  {{#ember-3d-folding-panel}}
    {{#each model as |item|}}
      {{#item-square item=item}}
        <img src="{{item.imageURL}}" alt="{{item.heading}}">
      {{/item-square}}
    {{/each}}
  {{/ember-3d-folding-panel}}
</div>

{{contact-footer}}
