{{#hero-block
  heroClasses='home'
  scrollToHref='#about'}}
  <grid class="inner">
    <centered xs="12">
      <h1 class="hero-header">SHIP SHAPE</h1>
    </centered>
    <centered xs="12">
      <h2 class="hero-subheader">Code that won't sink</h2>
    </centered>
  </grid>
{{/hero-block}}

{{process-section}}

{{technologies-section}}

{{worked-with}}

{{contact-footer}}
