<HeroBlock @heroClasses="home" @icon="kraken">
  <h1 class="heading">Code that won't sink</h1>
  <p>
    Ship Shape is a software consultancy specializing in all things Ember.
    We leverage Ember.js, and all the latest Ember addons and technologies,
    to create truly ambitious, state of the art applications that are future-proof and easily maintainable.
  </p>
  <div>
    {{#link-to "work.index" class="btn-navy"}}
      See what we've helped create
    {{/link-to}}
  </div>
</HeroBlock>

<ProcessSection></ProcessSection>

<TechnologiesSection></TechnologiesSection>

<WorkedWith></WorkedWith>

<ContactFooter></ContactFooter>
