<HeroBlock @heroClasses="home">
  <h1>Code that won't sink</h1>
  <p>
    Ship Shape is a software consultancy specializing in all things Ember.
    We leverage Ember.js, and all the latest Ember addons and technologies,
    to create truly ambitious, state of the art applications that are future-proof and easily maintainable.
  </p>
  <div>
    {{#link-to "contact"}}
      Learn how we work
    {{/link-to}}
  </div>
</HeroBlock>

<ProcessSection></ProcessSection>

<TechnologiesSection></TechnologiesSection>

<WorkedWith></WorkedWith>

<ContactFooter></ContactFooter>
