<section class="hero">
  <div class="inner">
    <div class="logo">
      <img src="img/ShipShapeHeader.svg"/>
    </div>
    <h1>Real Artists Ship</h1>
  </div>
</section>

<section class="tagline">
  <centered>
    {{ember-typewriter
    class="element"
    contentType="html"
    strings=model.strings
    tagName="h1"}}
  </centered>
</section>
