<page>
  <centered>
    <grid>
      <centered xs="12">
        <h1>Error: 404 Page Not Found</h1>
      </centered>
      <centered xs="12">
        {{svg-jar "404" height="150px" width="300px"}}
      </centered>
    </grid>
  </centered>
</page>

