<div class="section">
  <div class="section-content text-center">
    <div>
      <h1 class="heading">Error: 404 Page Not Found</h1>
    </div>
    <div>
      {{svg-jar "404" height="150px" width="300px"}}
    </div>
  </div>
</div>


