<div class="portfolio">
  <centered>
    <h1>Ember Addons</h1>
  </centered>
  <grid>
    <centered xs="12" sm="6" md="4">
      <h2>Ember Shepherd</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember Math Helpers</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember 3D Nav</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember Newton Cradle Loader</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember X-Editable</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember Flatpickr</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember Drop</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember Vivus</h2>
    </centered>
    <centered xs="12" sm="6" md="4">
      <h2>Ember Typewriter</h2>
    </centered>
  </grid>
</div>

