<div class="portfolio">
  <centered>
    <h1>Ember Addons</h1>
  </centered>
  <grid>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember Shepherd</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-shepherd" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-shepherd/stargazers"
               data-count-api="/repos/shipshapecode/ember-shepherd#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-shepherd on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember Math Helpers</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-math-helpers" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-math-helpers/stargazers"
               data-count-api="/repos/shipshapecode/ember-math-helpers#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-math-helpers on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember 3D Nav</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-3d-nav" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-3d-nav/stargazers"
               data-count-api="/repos/shipshapecode/ember-3d-nav#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-3d-nav on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember Newton Cradle Loader</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-newton-cradle-loader" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-newton-cradle-loader/stargazers"
               data-count-api="/repos/shipshapecode/ember-newton-cradle-loader#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-newton-cradle-loader on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember X-Editable</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-x-editable" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-x-editable/stargazers"
               data-count-api="/repos/shipshapecode/ember-x-editable#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-x-editable on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember Flatpickr</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-flatpickr" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-flatpickr/stargazers"
               data-count-api="/repos/shipshapecode/ember-flatpickr#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-flatpickr on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember Drop</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-drop" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-drop/stargazers"
               data-count-api="/repos/shipshapecode/ember-drop#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-drop on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember Vivus</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-vivus" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-vivus/stargazers"
               data-count-api="/repos/shipshapecode/ember-vivus#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-vivus on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
    <centered xs="12" sm="6" md="4">
      <vbox>
        <hbox>
          <centered>
            <h2>Ember Typewriter</h2>
          </centered>
        </hbox>
        <hbox>
          <centered>
            <a class="github-button" href="https://github.com/shipshapecode/ember-typewriter" data-icon="octicon-star"
               data-style="mega" data-count-href="/shipshapecode/ember-typewriter/stargazers"
               data-count-api="/repos/shipshapecode/ember-typewriter#stargazers_count"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star shipshapecode/ember-typewriter on GitHub">Star</a>
          </centered>
        </hbox>
      </vbox>
    </centered>
  </grid>
</div>

