<HeroBlock @heroClasses="team" @icon="landing">
  <h1>Team</h1>
  <p>
    Ship Shape is a small, but mighty team dedicated to shipping the highest quality apps possible.
  </p>
  <div>
    <LinkTo @route="work.index">
      See what we've helped create
    </LinkTo>
  </div>
</HeroBlock>

<TeamMembers></TeamMembers>
