<div class="technologies">
  <grid responsive>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/ember.png"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/EmberCLI.png"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/nodejs.png"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/sass.png"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/ember.png"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/ember.png"/>
    </centered>
  </grid>
</div>