<div class="technologies">
  <centered>
    <h1>
      Technologies we use include, but are not limited to:
    </h1>
  </centered>
  <grid responsive>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/ember.svg"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/embercli.svg"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/emberdata.svg"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/nodejs.png"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/sass.png"/>
    </centered>
    <centered xs="6" sm="4" md="3" lg="2">
      <img class="logo" src="img/travis.svg"/>
    </centered>

  </grid>
</div>